.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    display: flex;



    &__form {
        
        width: 500px;
        padding-bottom: 20px;

        &-logo {
            margin: auto;
            background-image: url(../../../../assets/logo.png);
            background-size: cover;
            height: 60px;
            width: 60px;
        }

        &-header {
            text-align: center;

            h2 {
                font-size: 24px;
                font-weight: 500;
                margin: 14px 0;
            }

            p {
                font-size: 14px;
            }
        }

        &-content {
            display: flex;
            justify-content: center;

            .form {
                width: 80%;

                &__remember {
                    display: flex;
                    justify-content: space-between;
                }

                &__button,
                &__google,
                &__facebook,
                &__linkedin {
                    width: 100%;
                    box-shadow: 0px 4px 4px rgba($color: #000000, $alpha: 0.25);
                    border: none;
                    border-radius: 8px;
                }

                &__button {
                    background-color: #1D9BF0;
                }

                &__google,
                &__facebook,
                &__linkedin {
                    display: flex;
                    align-items: center;
                    background-color: #ffff;
                    color: rgba(0, 0, 0, 0.8);
                    border: 1px solid #c4c4c4;

                }

                &__facebook-icon,
                &__google-icon,
                &__linkedin-icon {
                    background-size: cover;
                    width: 24px;
                    height: 24px;
                }

                &__facebook-icon {
                    background-image: url(../../../../assets/icon-facebook.svg);
                }

                &__google-icon {
                    background-image: url(../../../../assets/icon-google.svg);
                }

                &__linkedin-icon {
                    background-image: url(../../../../assets/linkedin-icon.png);
                }

                &__text {
                    width: 100%;
                }
            }


        }
    }

    &__form-footer {
        text-align: center;
    }
}


a {
    text-decoration: none;
}